.planet1 {
  background: white;
  width: 66px;
  height: 66px;
  position: absolute;
  left: 190px;
  top: 431px;
  border-radius: 50%;
  transition: 1s;
  transition-timing-function: cubic-bezier(.71,.27,.39,1.29);
}

.planet2 {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 180px;
  top: 392px;
  border-radius: 50%;
  transition: 1s;
  transition-timing-function: cubic-bezier(.71,.27,.39,1.29);
}

.planet3 {
  background: white;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 369px;
  top: 438px;
  border-radius: 50%;
  transition: 1s;
  transition-timing-function: cubic-bezier(.71,.27,.39,1.29);
}

.planet4 {
  background: white;
  width: 74px;
  height: 74px;
  position: absolute;
  left: 433px;
  top: 410px;
  border-radius: 50%;
  transition: 1s;
  transition-timing-function: cubic-bezier(.71,.27,.39,1.29);
}

.planet5 {
  background: white;
  width: 72px;
  height: 72px;
  position: absolute;
  left: 608px;
  top: 410px;
  border-radius: 50%;
  transition: 1s;
  transition-timing-function: cubic-bezier(.71,.27,.39,1.29);
}

.planet6 {
  background: white;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 758px;
  top: 439px;
  border-radius: 50%;
  transition: 1s;
  transition-timing-function: cubic-bezier(.71,.27,.39,1.29);
}

.planet7 {
  background: white;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 810px;
  top: 460px;
  border-radius: 50%;
  transition: 1s;
  transition-timing-function: cubic-bezier(.71,.27,.39,1.29);
}

.planet8 {
  background: white;
  width: 76px;
  height: 76px;
  position: absolute;
  left: 903px;
  top: 406px;
  border-radius: 50%;
  transition: 1s;
  transition-timing-function: cubic-bezier(.71,.27,.39,1.29);
}

.planet9 {
  background: white;
  width: 54px;
  height: 54px;
  position: absolute;
  left: 1042px;
  top: 428px;
  border-radius: 50%;
  transition: 1s;
  transition-timing-function: cubic-bezier(.71,.27,.39,1.29);
}

.planet10 {
  background: white;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 935px;
  top: 438px;
  border-radius: 50%;
  transition: 1s;
  transition-timing-function: cubic-bezier(.71,.27,.39,1.29);
}
